# Geocoder Configuration
# Options: nominatim, google, mapbox
GEOCODER_PROVIDER=nominatim

# API Keys (Required for google or mapbox)
GOOGLE_MAPS_KEY=
MAPBOX_KEY=

# Internal Sync Settings
# Concurrency: How many parallel requests to send
GEOCODER_CONCURRENCY=5

# Interval: Min milliseconds between requests (strictly for Nominatim)
GEOCODER_INTERVAL=1000
